// Bootstrap Variables
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap";

// install bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


body{
  background-color: rgb(0, 159, 255);
}
.color-clock{
  max-width: 100%;
}

// .hours::after,
// .minutes::after{
//   content: ":";
// }

.elapsed-time{
  margin-top: 300px;
  text-align: center;
  font-size: 80px;

}
